.control {
    background: rgb(250, 217, 223);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: 1000px) {
    .control{
      flex-direction: column;
    }
  }